---
- hosts: all
  become: yes
  tasks:

    - name: Install dependancies for Portainer
      apt:
        name:
          - python3-pip
          - mc
        state: latest

    - name: Install python packages
      pip:
        name: docker

    - name: Deploy Portainer
      community.docker.docker_container:
        name: portainer
        image: portainer/portainer-ce
        ports:
          - "9000:9000"
          - "8000:8000"
        volumes:
          - /var/run/docker.sock:/var/run/docker.sock
          - portainer_data:/data
        restart_policy: always
