# Initial Ubuntu server setup for Worthen Home Lab
#
# Fix issue: .functions, .oh-my-zsh, .p10k.zsh and .zshrc are owned by root
# Fix issue: change shell 
---
- hosts: ubuntu
  vars:
    userID: jason
    tmzone: America/Chicago

  tasks:
    - name: update apt-cache
      become: yes
      apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: upgrade all packages
      become: yes
      apt:
        upgrade: yes
        state: latest

    - name: install base packages
      become: yes
      apt:
        pkg: 
          - bat
          - net-tools
          - git
          - zsh
          - zsh-syntax-highlighting
          - zsh-autosuggestions
        state: latest

    - name: check if .zshrc exists
      stat:
        path: ~{{ userID }}/.zshrc
      register: stat_rc_result

    - name: Check if .oh-my-zsh exists
      stat:
        path: ~{{ userID }}/.oh-my-zsh
      register: stat_oh_my_zsh_result

    - name: cloning oh-my-zsh
      git:
        repo=https://github.com/robbyrussell/oh-my-zsh
        dest=~{{ userID }}/.oh-my-zsh
      when: not stat_oh_my_zsh_result.stat.exists
      become: yes
      become_user: {{ userID }}

    - name: cloning powerlevel10k
      git:
        repo=https://gitee.com/romkatv/powerlevel10k.git
        dest=~{{ userID }}/.oh-my-zsh/themes/powerlevel10k
      when: not stat_oh_my_zsh_result.stat.exists
      become: yes
      become_user: {{ userID }}

    - name: update aliases and functions
      copy:
        src={{ item.src }}
        dest={{ item.dest }}
        mode: u=rwx, g=rw, o=r
        owner: {{ userID }}
        group: {{ userID }}
      with_items:
        - { src: 'aliases', dest: '~{{ userID }}/.aliases' }
        - { src: 'functions', dest: '~{{ userID }}/.functions' }
        - { src: 'p10k.zsh', dest: '~{{ userID }}/.p10k.zsh' }
        - { src: 'zshrc', dest: '~{{ userID }}/.zshrc' }


  
    - name: set timezone to {{ tmzone }}
      become: yes
      timezone:
        name: "{{ tmzone }}"
